{
	"openapi": "3.0.0",
	"info": {
		"title": "Track Shipment V5",
		"description": "The PostNord Track Shipment API supports two different ways to retrieve shipment information.\n\nThe same API is used on all PostNord’s websites (e.g. postnord.se, postdanmark.dk, postnord.no, postnord.fi and tracking.postnord.com).\n\nThe result will contain the matching shipments/items with their associated events.\n\n**How to use the tracking API**\n* Use the tracking-API when a system actually needs to present the latest events.\n\n* Avoid making unnecessary requests of all items at all the time when the tracking-service is not used.\n\n* Know what hours you need to update the tracking, for example not having the same intervals during night-time as day-time.\n\nBelow are the options to retrieve the information:\n\nTrack shipment by Identifier (Shipment-ID/Item-ID).\nTrack shipment by customer number and reference\n",
		"version": "1.0.7"
	},
	"servers": [
		{
			"url": "https://api2.postnord.com/rest/shipment",
			"description": "Production server"
		}
	],
	"paths": {
		"/v5/trackandtrace/findByIdentifier.{returntype}": {
			"get": {
				"tags": ["Track Shipment V5"],
				"summary": "Track shipment by Identifier",
				"description": "The PostNord Track Shipment API supports different ways to retrieve shipment information. <br><br>The same API is used on all PostNord’s websites (e.g. postnord.se, postdanmark.dk, postnord.no, postnord.fi and tracking.postnord.com).<br><br>The result will contain the matching shipments with their associated events",
				"operationId": "RestShipmentV2TrackandtraceFindByIdentifierByReturntypeGet",
				"parameters": [
					{
						"name": "returntype",
						"in": "path",
						"description": "Defines the response message format (json or xml)",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"enum": ["json", "xml"]
						}
					},
					{
						"name": "apikey",
						"in": "query",
						"description": "The unique consumer (client) identifier 32 characters",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string"
						},
						"x-data-threescale-name": "user_keys"
					},
					{
						"name": "id",
						"in": "query",
						"description": "Shipment or Item identifier. Valid characters: A-Z, a-z, 0-9 Length: 10-35 characters",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string"
						},
						"example": "96932007555SE"
					},
					{
						"name": "locale",
						"in": "query",
						"description": "Default is en. Allowed values are en, sv, no, da and fi",
						"required": false,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string",
							"default": "en"
						}
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Return JSON-P response",
						"required": false,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResponseDto"
								}
							}
						}
					},
					"400": {
						"description": "The server did not understand or could not validate the input parameters. More information about the cause of the error is available in the compositeFault object.",
						"content": {
							"application/json": {
								"schema": {}
							}
						}
					},
					"default": {
						"description": "The server experienced a runtime exception while processing the request. Try again later or contact customer support.",
						"content": {
							"application/json": {
								"schema": {}
							}
						}
					}
				}
			}
		},
		"/v5/trackandtrace/findByReference.{returntype}": {
			"get": {
				"tags": ["Track Shipment V5"],
				"summary": "Track shipment by customer number and reference",
				"description": "The PostNord Track Shipment API supports different ways to retrieve shipment information. <br><br>The same API is used on all PostNord’s websites (e.g. postnord.se, postdanmark.dk, postnord.no, postnord.fi and tracking.postnord.com).<br><br>The result will contain the matching shipments with their associated events",
				"operationId": "RestShipmentV2TrackandtraceFindByReferenceByReturntypeGet",
				"parameters": [
					{
						"name": "returntype",
						"in": "path",
						"description": "Defines the response message format (json or xml)",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"enum": ["json", "xml"]
						}
					},
					{
						"name": "apikey",
						"in": "query",
						"description": "The unique consumer (client) identifier 32 characters",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string"
						},
						"x-data-threescale-name": "user_keys"
					},
					{
						"name": "customerNumber",
						"in": "query",
						"description": "The Postnord customer number for the shipment",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string"
						},
						"example": "80068059"
					},
					{
						"name": "referenceValue",
						"in": "query",
						"description": "The customer reference on the shipment",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string"
						},
						"example": "dk2238532288565/dk80059/0"
					},
					{
						"name": "locale",
						"in": "query",
						"description": "Default is en. Allowed values are en, sv, no, da and fi",
						"required": false,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string",
							"default": "en"
						}
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Return JSON-P response",
						"required": false,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResponseDto"
								}
							}
						}
					},
					"400": {
						"description": "The server did not understand or could not validate the input parameters. More information about the cause of the error is available in the compositeFault object.",
						"content": {
							"application/json": {
								"schema": {}
							}
						}
					},
					"default": {
						"description": "The server experienced a runtime exception while processing the request. Try again later or contact customer support.",
						"content": {
							"application/json": {
								"schema": {}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"AdditionalServiceDto": {
				"title": "AdditionalServiceDto",
				"required": ["code", "sourceSystem"],
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": ""
					},
					"groupCode": {
						"type": "string",
						"description": ""
					},
					"type": {
						"type": "string",
						"description": ""
					},
					"name": {
						"type": "string",
						"description": ""
					}
				},
				"additionalProperties": {}
			},
			"AddressDto": {
				"title": "AddressDto",
				"type": "object",
				"properties": {
					"street1": {
						"type": "string",
						"description": ""
					},
					"street2": {
						"type": "string",
						"description": ""
					},
					"city": {
						"type": "string",
						"description": ""
					},
					"countryCode": {
						"type": "string",
						"description": ""
					},
					"country": {
						"type": "string",
						"description": ""
					},
					"postCode": {
						"type": "string",
						"description": ""
					}
				},
				"additionalProperties": {}
			},
			"CollectionPartyDto": {
				"title": "CollectionPartyDto",
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"description": ""
					},
					"address": {
						"$ref": "#/components/schemas/AddressDto"
					},
					"contact": {
						"$ref": "#/components/schemas/ContactDto"
					}
				},
				"additionalProperties": {}
			},
			"CompositeFault": {
				"title": "CompositeFault",
				"type": "object",
				"properties": {
					"faults": {
						"type": "array",
						"description": "",
						"items": {
							"$ref": "#/components/schemas/Fault"
						}
					}
				},
				"additionalProperties": {}
			},
			"ConsigneeDto": {
				"title": "ConsigneeDto",
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"description": ""
					},
					"address": {
						"$ref": "#/components/schemas/AddressDto"
					}
				},
				"additionalProperties": {},
				"description": "receiver"
			},
			"ConsignorDto": {
				"title": "ConsignorDto",
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"description": ""
					},
					"issuercode": {
						"type": "string",
						"description": ""
					},
					"address": {
						"$ref": "#/components/schemas/AddressDto"
					}
				},
				"additionalProperties": {},
				"description": "sender"
			},
			"ContactDto": {
				"title": "ContactDto",
				"type": "object",
				"properties": {
					"contactName": {
						"type": "string",
						"description": ""
					},
					"phone": {
						"type": "string",
						"description": ""
					},
					"mobilePhone": {
						"type": "string",
						"description": ""
					},
					"email": {
						"type": "string",
						"description": ""
					}
				},
				"additionalProperties": {}
			},
			"CoordinateDto": {
				"title": "CoordinateDto",
				"type": "object",
				"properties": {
					"srId": {
						"type": "string",
						"description": ""
					},
					"northing": {
						"type": "string",
						"description": ""
					},
					"easting": {
						"type": "string",
						"description": ""
					}
				},
				"additionalProperties": {}
			},
			"DeliveryPointDto": {
				"title": "DeliveryPointDto",
				"required": ["locationId", "locationType"],
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"description": ""
					},
					"depotId": {
						"type": "string",
						"description": ""
					},
					"locationDetail": {
						"type": "string",
						"description": ""
					},
					"address": {
						"$ref": "#/components/schemas/AddressDto"
					},
					"contact": {
						"$ref": "#/components/schemas/ContactDto"
					},
					"coordinate": {
						"type": "array",
						"description": "",
						"items": {
							"$ref": "#/components/schemas/CoordinateDto"
						}
					},
					"openingHours": {
						"type": "array",
						"description": "",
						"items": {
							"$ref": "#/components/schemas/OpeningHoursDto"
						}
					},
					"displayName": {
						"type": "string",
						"description": ""
					},
					"locationId": {
						"type": "string",
						"description": ""
					},
					"servicePointType": {
						"type": "string",
						"description": ""
					}
				},
				"additionalProperties": {}
			},
			"DistanceDto": {
				"title": "DistanceDto",
				"required": ["unit", "value"],
				"type": "object",
				"properties": {
					"value": {
						"type": "string",
						"description": "String representing BigDecimal",
						"example": "13.55"
					},
					"unit": {
						"$ref": "#/components/schemas/DistanceUnit"
					}
				},
				"additionalProperties": {}
			},
			"DistanceUnit": {
				"title": "distanceUnit",
				"type": "string",
				"example": "mm",
				"enum": ["mm", "cm", "dm", "m"]
			},
			"Fault": {
				"title": "Fault",
				"required": ["explanationText", "faultCode"],
				"type": "object",
				"properties": {
					"faultCode": {
						"type": "string",
						"description": ""
					},
					"explanationText": {
						"type": "string",
						"description": ""
					},
					"paramValues": {
						"type": "array",
						"description": "",
						"items": {
							"$ref": "#/components/schemas/ParamValue"
						}
					}
				},
				"additionalProperties": {}
			},
			"GeoLocationDto": {
				"title": "GeoLocationDto",
				"type": "object",
				"properties": {
					"geoNorthing": {
						"type": "number",
						"description": "",
						"format": "double"
					},
					"geoEasting": {
						"type": "number",
						"description": "",
						"format": "double"
					},
					"geoReferenceSystem": {
						"type": "string",
						"description": ""
					},
					"geoPostalCode": {
						"type": "string",
						"description": ""
					},
					"geoCity": {
						"type": "string",
						"description": ""
					},
					"geoCountryCode": {
						"type": "string",
						"description": ""
					}
				},
				"additionalProperties": {}
			},
			"ItemDto": {
				"title": "ItemDto",
				"required": ["itemId"],
				"type": "object",
				"properties": {
					"itemId": {
						"type": "string",
						"description": ""
					},
					"estimatedTimeOfArrival": {
						"type": "string",
						"description": "",
						"format": "date-time"
					},
					"publicTimeOfArrival": {
						"type": "string",
						"description": "Public time of arrival. Might be based on statistical ETA",
						"format": "date-time"
					},
					"dropOffDate": {
						"type": "string",
						"description": "",
						"format": "date-time"
					},
					"deliveryDate": {
						"type": "string",
						"description": "",
						"format": "date-time"
					},
					"returnDate": {
						"type": "string",
						"description": "",
						"format": "date-time"
					},
					"deliveryImageAvailable": {
						"type": "boolean",
						"description": ""
					},
					"liveTracking": {
						"$ref": "#/components/schemas/LiveTrackingDto"
					},
					"typeOfItem": {
						"type": "string",
						"description": ""
					},
					"typeOfItemName": {
						"type": "string",
						"description": ""
					},
					"typeOfItemActual": {
						"type": "string",
						"description": ""
					},
					"typeOfItemActualName": {
						"type": "string",
						"description": ""
					},
					"additionalInformation": {
						"type": "string",
						"description": ""
					},
					"noItems": {
						"type": "integer",
						"description": "",
						"format": "int32"
					},
					"numberOfPallets": {
						"type": "string",
						"description": ""
					},
					"status": {
						"$ref": "#/components/schemas/ItemStatus"
					},
					"statusText": {
						"$ref": "#/components/schemas/StatusTextDto"
					},
					"statedMeasurement": {
						"allOf": [
							{
								"$ref": "#/components/schemas/MeasurementDto"
							},
							{
								"description": "measurement that was made and scanned by Postnord"
							}
						]
					},
					"assessedMeasurement": {
						"allOf": [
							{
								"$ref": "#/components/schemas/MeasurementDto"
							},
							{
								"description": "measurement that was received in the shipment information"
							}
						]
					},
					"events": {
						"type": "array",
						"description": "",
						"items": {
							"$ref": "#/components/schemas/TrackingEventDto"
						}
					},
					"stoppedInCustoms": {
						"type": "boolean"
					},
					"references": {
						"type": "array",
						"description": "",
						"items": {
							"$ref": "#/components/schemas/ReferenceDto"
						}
					},
					"previousItemStates": {
						"uniqueItems": true,
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ItemStatus"
						}
					},
					"isPlacedInRetailParcelBox": {
						"type": "boolean",
						"description": ""
					}
				},
				"additionalProperties": {}
			},
			"LiveTrackingDto": {
				"title": "LiveTrackingDto",
				"type": "object",
				"properties": {
					"liveTrackId": {
						"type": "string",
						"description": ""
					}
				},
				"additionalProperties": {}
			},
			"ItemStatus": {
				"title": "itemStatus",
				"type": "string",
				"example": "CREATED",
				"enum": [
					"CREATED",
					"AVAILABLE_FOR_DELIVERY",
					"AVAILABLE_FOR_DELIVERY_PAR_LOC",
					"DELAYED",
					"DELIVERED",
					"DELIVERY_IMPOSSIBLE",
					"DELIVERY_REFUSED",
					"EXPECTED_DELAY",
					"INFORMED",
					"EN_ROUTE",
					"OTHER",
					"RETURNED",
					"STOPPED"
				]
			},
			"LocationDto": {
				"title": "LocationDto",
				"required": ["locationId", "locationType"],
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"description": ""
					},
					"countryCode": {
						"type": "string",
						"description": ""
					},
					"country": {
						"type": "string",
						"description": ""
					},
					"locationId": {
						"type": "string",
						"description": ""
					},
					"depotId": {
						"type": "string",
						"description": ""
					},
					"displayName": {
						"type": "string",
						"description": ""
					},
					"postcode": {
						"type": "string",
						"description": ""
					},
					"city": {
						"type": "string",
						"description": ""
					},
					"locationType": {
						"$ref": "#/components/schemas/LocationType"
					}
				},
				"additionalProperties": {}
			},
			"LocationType": {
				"title": "locationType",
				"type": "string",
				"example": "HUB",
				"enum": [
					"CUSTOMER_LOCATION",
					"DELIVERY_POINT",
					"DEPOT",
					"DISTRIBUTION_PARTNER",
					"DPD_DEPOT",
					"HUB",
					"IPS_LOCATION",
					"LOAD_POINT",
					"POSTAL_SERVICE_TERMINAL",
					"SERVICE_POINT",
					"SLINGA",
					"UNDEF"
				]
			},
			"MeasurementDto": {
				"title": "MeasurementDto",
				"type": "object",
				"properties": {
					"weight": {
						"$ref": "#/components/schemas/WeightDto"
					},
					"length": {
						"$ref": "#/components/schemas/DistanceDto"
					},
					"height": {
						"$ref": "#/components/schemas/DistanceDto"
					},
					"width": {
						"$ref": "#/components/schemas/DistanceDto"
					},
					"volume": {
						"$ref": "#/components/schemas/VolumeDto"
					}
				},
				"additionalProperties": {}
			},
			"OpeningHoursDto": {
				"title": "OpeningHoursDto",
				"required": ["openFrom", "openTo"],
				"type": "object",
				"properties": {
					"openFrom": {
						"type": "string",
						"description": ""
					},
					"openTo": {
						"type": "string",
						"description": ""
					},
					"openFrom2": {
						"type": "string",
						"description": ""
					},
					"openTo2": {
						"type": "string",
						"description": ""
					},
					"monday": {
						"type": "boolean",
						"description": ""
					},
					"tuesday": {
						"type": "boolean",
						"description": ""
					},
					"wednesday": {
						"type": "boolean",
						"description": ""
					},
					"thursday": {
						"type": "boolean",
						"description": ""
					},
					"friday": {
						"type": "boolean",
						"description": ""
					},
					"saturday": {
						"type": "boolean",
						"description": ""
					},
					"sunday": {
						"type": "boolean",
						"description": ""
					}
				},
				"additionalProperties": {}
			},
			"ParamValue": {
				"title": "ParamValue",
				"required": ["param", "value"],
				"type": "object",
				"properties": {
					"param": {
						"type": "string",
						"description": ""
					},
					"value": {
						"type": "string",
						"description": ""
					}
				},
				"additionalProperties": {}
			},
			"PickupPartyDto": {
				"title": "PickupPartyDto",
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"description": ""
					},
					"address": {
						"$ref": "#/components/schemas/AddressDto"
					},
					"contact": {
						"$ref": "#/components/schemas/ContactDto"
					}
				},
				"additionalProperties": {}
			},
			"ReferenceDto": {
				"title": "ReferenceDto",
				"required": ["type", "value"],
				"type": "object",
				"properties": {
					"value": {
						"type": "string",
						"description": ""
					},
					"type": {
						"type": "string",
						"description": ""
					},
					"name": {
						"type": "string",
						"description": ""
					}
				},
				"additionalProperties": {}
			},
			"ResponseDto": {
				"title": "ResponseDto",
				"type": "object",
				"properties": {
					"TrackingInformationResponse": {
						"$ref": "#/components/schemas/TrackingInformationResponse"
					}
				},
				"additionalProperties": {}
			},
			"ReturnPartyDto": {
				"title": "ReturnPartyDto",
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"description": ""
					},
					"address": {
						"$ref": "#/components/schemas/AddressDto"
					},
					"contact": {
						"$ref": "#/components/schemas/ContactDto"
					}
				},
				"additionalProperties": {}
			},
			"ServiceDto": {
				"title": "ServiceDto",
				"required": ["code", "sourceSystem"],
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": ""
					},
					"name": {
						"type": "string",
						"description": ""
					}
				},
				"additionalProperties": {}
			},
			"ShipmentDto": {
				"title": "ShipmentDto",
				"required": ["shipmentId"],
				"type": "object",
				"properties": {
					"shipmentId": {
						"type": "string",
						"description": ""
					},
					"uri": {
						"type": "string",
						"description": ""
					},
					"assessedNumberOfItems": {
						"type": "integer",
						"description": "",
						"format": "int32"
					},
					"cashOnDeliveryText": {
						"type": "string",
						"description": ""
					},
					"deliveryDate": {
						"type": "string",
						"description": "",
						"format": "date-time"
					},
					"returnDate": {
						"type": "string",
						"description": "",
						"format": "date-time"
					},
					"estimatedTimeOfArrival": {
						"type": "string",
						"description": "Estimated time of arrival",
						"format": "date-time"
					},
					"publicTimeOfArrival": {
						"type": "string",
						"description": "Public time of arrival. Might be based on statistical ETA",
						"format": "date-time"
					},
					"numberOfPallets": {
						"type": "string",
						"description": ""
					},
					"flexChangePossible": {
						"type": "boolean",
						"description": ""
					},
					"service": {
						"$ref": "#/components/schemas/ServiceDto"
					},
					"consignor": {
						"$ref": "#/components/schemas/ConsignorDto"
					},
					"consignee": {
						"$ref": "#/components/schemas/ConsigneeDto"
					},
					"returnParty": {
						"$ref": "#/components/schemas/ReturnPartyDto"
					},
					"pickupParty": {
						"$ref": "#/components/schemas/PickupPartyDto"
					},
					"collectionParty": {
						"$ref": "#/components/schemas/CollectionPartyDto"
					},
					"statusText": {
						"$ref": "#/components/schemas/ShipmentStatusTextDto"
					},
					"status": {
						"$ref": "#/components/schemas/Status18"
					},
					"deliveryPoint": {
						"$ref": "#/components/schemas/DeliveryPointDto"
					},
					"totalWeight": {
						"$ref": "#/components/schemas/WeightDto"
					},
					"totalVolume": {
						"$ref": "#/components/schemas/VolumeDto"
					},
					"assessedWeight": {
						"$ref": "#/components/schemas/WeightDto"
					},
					"assessedVolume": {
						"$ref": "#/components/schemas/VolumeDto"
					},
					"splitStatuses": {
						"uniqueItems": true,
						"type": "array",
						"description": "",
						"items": {
							"$ref": "#/components/schemas/SplitStatusDto"
						}
					},
					"shipmentReferences": {
						"type": "array",
						"description": "",
						"items": {
							"$ref": "#/components/schemas/ReferenceDto"
						}
					},
					"additionalServices": {
						"uniqueItems": true,
						"type": "array",
						"description": "",
						"items": {
							"$ref": "#/components/schemas/AdditionalServiceDto"
						}
					},
					"harmonizedVersion": {
						"type": "integer",
						"description": "",
						"format": "int32"
					},
					"items": {
						"type": "array",
						"description": "",
						"items": {
							"$ref": "#/components/schemas/ItemDto"
						}
					}
				},
				"additionalProperties": {}
			},
			"ShipmentStatusTextDto": {
				"title": "ShipmentStatusTextDto",
				"type": "object",
				"properties": {
					"header": {
						"type": "string",
						"description": ""
					},
					"body": {
						"type": "string",
						"description": ""
					},
					"estimatedTimeOfArrival": {
						"type": "string",
						"description": ""
					}
				},
				"additionalProperties": {}
			},
			"SplitStatusDto": {
				"title": "SplitStatusDto",
				"type": "object",
				"properties": {
					"noItemsWithStatus": {
						"type": "integer",
						"description": "",
						"format": "int32"
					},
					"noItems": {
						"type": "integer",
						"description": "",
						"format": "int32"
					},
					"statusDescription": {
						"type": "string",
						"description": ""
					},
					"status": {
						"$ref": "#/components/schemas/Status"
					}
				},
				"additionalProperties": {}
			},
			"Status": {
				"title": "status",
				"type": "string",
				"example": "CREATED",
				"enum": [
					"CREATED",
					"AVAILABLE_FOR_DELIVERY",
					"AVAILABLE_FOR_DELIVERY_PAR_LOC",
					"DELAYED",
					"DELIVERED",
					"DELIVERY_IMPOSSIBLE",
					"DELIVERY_REFUSED",
					"EXPECTED_DELAY",
					"INFORMED",
					"EN_ROUTE",
					"OTHER",
					"RETURNED",
					"STOPPED"
				]
			},
			"Status18": {
				"title": "ShipmentStatus",
				"type": "string",
				"example": "CREATED",
				"enum": [
					"CREATED",
					"AVAILABLE_FOR_DELIVERY",
					"DELAYED",
					"DELIVERED",
					"DELIVERY_IMPOSSIBLE",
					"DELIVERY_REFUSED",
					"EXPECTED_DELAY",
					"INFORMED",
					"EN_ROUTE",
					"OTHER",
					"RETURNED",
					"STOPPED",
					"SPLIT"
				]
			},
			"StatusTextDto": {
				"title": "StatusTextDto",
				"type": "object",
				"properties": {
					"header": {
						"type": "string",
						"description": ""
					},
					"body": {
						"type": "string",
						"description": ""
					},
					"estimatedTimeOfArrival": {
						"type": "string",
						"description": ""
					}
				},
				"additionalProperties": {}
			},
			"TrackingEventDto": {
				"title": "TrackingEventDto",
				"required": ["eventCode", "eventTime", "location"],
				"type": "object",
				"properties": {
					"eventTime": {
						"type": "string",
						"description": "",
						"format": "date-time"
					},
					"eventCode": {
						"type": "string",
						"description": ""
					},
					"location": {
						"$ref": "#/components/schemas/LocationDto"
					},
					"geoLocation": {
						"$ref": "#/components/schemas/GeoLocationDto"
					},
					"status": {
						"type": "string",
						"description": ""
					},
					"eventDescription": {
						"type": "string",
						"description": ""
					}
				},
				"additionalProperties": {}
			},
			"TrackingInformationResponse": {
				"title": "TrackingInformationResponse",
				"type": "object",
				"properties": {
					"compositeFault": {
						"$ref": "#/components/schemas/CompositeFault"
					},
					"shipments": {
						"type": "array",
						"description": "",
						"items": {
							"$ref": "#/components/schemas/ShipmentDto"
						}
					}
				},
				"additionalProperties": {}
			},
			"VolumeDto": {
				"title": "VolumeDto",
				"required": ["unit", "value"],
				"type": "object",
				"properties": {
					"value": {
						"type": "string",
						"description": "A string representation the BigDecimal value",
						"example": "1.76"
					},
					"unit": {
						"$ref": "#/components/schemas/VolumeUnit"
					}
				},
				"additionalProperties": {}
			},
			"VolumeUnit": {
				"title": "volumeUnit",
				"type": "string",
				"example": "cm3",
				"enum": ["cm3", "dm3", "m3"]
			},
			"WeightDto": {
				"title": "WeightDto",
				"required": ["unit", "value"],
				"type": "object",
				"properties": {
					"value": {
						"type": "string",
						"description": "A string representing a BigDecimal",
						"example": "11.92"
					},
					"unit": {
						"$ref": "#/components/schemas/WeightUnit"
					}
				},
				"additionalProperties": {}
			},
			"WeightUnit": {
				"title": "WeightUnit",
				"type": "string",
				"example": "g",
				"enum": ["g", "kg"]
			},
			"ErrorResponse": {
				"required": ["message"],
				"type": "object",
				"properties": {
					"compositeFault": {
						"$ref": "#/components/schemas/CompositeFault"
					},
					"message": {
						"type": "string",
						"description": "High level error message.",
						"example": "Query parameter missing"
					}
				},
				"description": "PostNord standard error response message"
			}
		}
	}
}
